<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <!--<div class="col-lg-12 col-sm-12"> -->
        <div class="col-lg-10 col-sm-10">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="card">
                
               <!-- <div class="card-header">
                     
                      Configuration Settings -- Project
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
                            <app-config [tabledata]="options1" ></app-config>
                          </div>
                          <div class="col">
                            <app-config [tabledata]="options"></app-config>
                            <app-config [tabledata]="options"></app-config>
                          </div>
                      </div>
                  </div>

                -->

                  <div class="card-header">
                    <!-- <button type="button" class="pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
                         <i class="fa fa-chevron-up pull-right"> </i>
                     </button> -->
                     Configuration Settings -- RFI
                 </div>
                 <div class="card-body">
                     <div class="row">
                         <div class="col">
                           <app-config [tabledata]="options1" ></app-config>
                         </div>
                         <div class="col">
                           <app-config [tabledata]="options"></app-config>
                           <app-config [tabledata]="options"></app-config>
                         </div>
                     </div>
                 </div>

              

             <!--    <div class="card-header">
                
                   Configuration Settings -- User
               </div>
               <div class="card-body">
                   <div class="row">
                       <div class="col">
                         <app-config [tabledata]="options1" ></app-config>
                       </div>
                       <div class="col">
                         <app-config [tabledata]="options"></app-config>
                         <app-config [tabledata]="options"></app-config>
                       </div>
                   </div>
               </div>

            -->


               <div class="card-header">
                <!-- <button type="button" class="pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
                     <i class="fa fa-chevron-up pull-right"> </i>
                 </button> -->
                 Configuration Settings -- Observations
             </div>
             <div class="card-body">
                 <div class="row">
                     <div class="col">
                       <app-config [tabledata]="options1" ></app-config>
                     </div>
                     <div class="col">
                       <app-config [tabledata]="options"></app-config>
                       <app-config [tabledata]="options"></app-config>
                     </div>
                 </div>
             </div>

            

             <div class="card-header">
              <!-- <button type="button" class="pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
                   <i class="fa fa-chevron-up pull-right"> </i>
               </button> -->
               Configuration Settings -- Inspections
           </div>
           <div class="card-body">
               <div class="row">
                   <div class="col">
                     <app-config [tabledata]="options1" ></app-config>
                   </div>
                   <div class="col">
                     <app-config [tabledata]="options"></app-config>
                     <app-config [tabledata]="options"></app-config>
                   </div>
               </div>
           </div>


           <div class="card-header">
            <!-- <button type="button" class="pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
                 <i class="fa fa-chevron-up pull-right"> </i>
             </button> -->
             Configuration Settings -- Submittals
         </div>
         <div class="card-body">
             <div class="row">
                 <div class="col">
                   <app-config [tabledata]="options1" ></app-config>
                 </div>
                 <div class="col">
                   <app-config [tabledata]="options"></app-config>
                   <app-config [tabledata]="options"></app-config>
                 </div>
             </div>
         </div>



         <div class="card-header">
                
                Configuration Settings -- Inspecions
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                      <app-config [tabledata]="options1" ></app-config>
                    </div>
                    <div class="col">
                      <app-config [tabledata]="options"></app-config>
                      <app-config [tabledata]="options"></app-config>
                    </div>
                </div>
            </div>


       

                </div>
            </div>

          <div class="col-lg-4 col-sm-12">
                <div class="card fixed-height">
        
                       <div class="card-header">
                           Existing Configurations
                       </div>
        
                       <div class="card-body">
                               <div class="row">
                                   
                                    <div class="elements">
                                       
                                          <p *ngFor="let ele of types"  >
                                          <!--      <button class="w3-button w3-white w3-border w3-border-red w3-round-large" style="color: red" > -->



                                                <button type="button button1" class="btn btn-round btn-default" style="color: red"    (click)="edit(hhh)" >
                                              {{ele}}
                                                </button>

                                           </p>

                                    </div>
                                   
                                </div>
                       </div>








        
                </div>
            </div>
    
         


        </div>
  </div>
</div>

